<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>Playground Assignment</title>
        <meta charset="UTF-8">
        <meta name="theme-color" content="white">
        <meta name="description" content="playground assignment">
    </head>

    <body>
        <h1 align = center>Welcome!</h1>
        <div style="display: flex; justify-content: space-around;">
            <div style = "padding: 50px; width: 150px; height: 150px; background-color: goldenrod;" class = "box"></div>
            <div style = "padding: 50px; width: 150px; height: 150px; background-color: goldenrod;" class = "box"></div>
            <div style = "padding: 50px; width: 150px; height: 150px; background-color: goldenrod;" class = "box"></div>
        </div>
    </body>
</html>